.popup {
    width: 630px;
    height: 660px;
    box-shadow: 0px 0px 10px #606060;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.title {
    font-size: 55px;
}

.input_fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_field {
    border: 2px solid #DADADA;
    width: 465px;
    height: 45px;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.submit_button {
    border: 2px solid #FA5D21;
    background-color: #FA5D21;
    opacity: 0.5;
    border-radius: 20px;
    width: 465px;
    height: 65px;
    font-size: 28px;
    color: #ffffff;
    transition: opacity 0.5s;
}

.submit_button_stage_1 {
    margin-top: 55px;
    margin-bottom: 75px;
}

.submit_button_stage_2 {
    margin-top: 90px;
    margin-bottom: 130px;
}

.registration_stage {
    color: #848282;
    font-size: 20px;
}

.submit_button:hover {
    cursor: pointer;
    opacity: 1;
}