.book {
    padding: 12px 16px;
    border: 1px solid #ececec;
    border-radius: 10px;
    background: #fafafa;

    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;

    transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
}

.book:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
    background: #ffffff;
}
