services:
  mysql:
    image: mysql:8.0
    container_name: event_manager_example_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
      MYSQL_USER: event_manager_example
      MYSQL_PASSWORD: qwerty
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
