.popup {
    width: 630px;
    height: 660px;
    box-shadow: 0px 0px 10px #606060;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.title {
    font-size: 55px;
}

.input_fields {
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input_field {
    border: 2px solid #DADADA;
    width: 465px;
    height: 45px;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.submit_button {
    margin-top: 90px;
    border: 2px solid #FA5D21;
    background-color: #FA5D21;
    opacity: 0.5;
    border-radius: 20px;
    width: 465px;
    height: 65px;
    font-size: 28px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.transtition {
    color: #848282;
    font-size: 20px;
}

.registration_transition {
    margin-top: 15px;
    text-decoration: underline;
}

.password_recovery_transition {
    margin-top: 90px;
}

.transtition:hover {
    cursor: pointer;
}

.submit_button:hover {
    cursor: pointer;
    opacity: 1;
}